# Requirement for Airflow need a strict constraints to make sure it is replicable.

apache-airflow

# Supporting libraries
apache-airflow-providers-postgres
apache-airflow-providers-amazon

--only-binary arm_pyart

-c "https://raw.githubusercontent.com/apache/airflow/constraints-2.9.1/constraints-3.11.txt"